<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?define InfoURL="https://github.com/Devolutions/pwsh-distro" ?>
  <?define ProductSimpleVersionWithNameAndOptionalArchitecture = "$(var.ProductName) $(var.SimpleProductVersion) ($(sys.BUILDARCH))"?>
  <?if $(var.IsPreview)=True?>
    <?define PwshPath = "[VersionFolder]preview"?>
    <?define IconPath = "assets\Powershell_av_colors.ico"?>
  <?else?>
    <?define PwshPath = "[VersionFolder]"?>
    <?define IconPath = "assets\Powershell_black.ico"?>
  <?endif?>
  <!-- UpgradeCode GUID MUST REMAIN SAME THROUGHOUT ALL VERSIONS, otherwise, updates won't occur. -->
  <?if $(sys.BUILDARCH)=x64?>
    <?define ExplorerContextMenuDialogText = "&$(var.ProductName) $(var.SimpleProductVersion)"?>
    <?define UpgradeCodePreview = "d26b2030-fe59-4bbe-9cfc-8a5f5f934b38"?>
    <?define UpgradeCodeRelease = "d26b2030-fe59-4bbe-9cfc-8a5f5f934b38"?>
    <?if $(var.IsPreview)=True?>
      <?define UpgradeCode = $(var.UpgradeCodePreview)?>
    <?else?>
      <?define UpgradeCode = $(var.UpgradeCodeRelease)?>
    <?endif?>
  <?elseif $(sys.BUILDARCH)=arm64?>
    <?define ExplorerContextMenuDialogText = "&$(var.ProductName) $(var.SimpleProductVersion) ($(sys.BUILDARCH))"?>
    <?define UpgradeCodePreview = "cea78373-e1e6-425c-b8d9-cd7e18f6821e"?>
    <?define UpgradeCodeRelease = "cea78373-e1e6-425c-b8d9-cd7e18f6821e"?>
    <?if $(var.IsPreview)=True?>
      <?define UpgradeCode = $(var.UpgradeCodePreview)?>
    <?else?>
      <?define UpgradeCode = $(var.UpgradeCodeRelease)?>
    <?endif?>
  <?else?>
    <?define ExplorerContextMenuDialogText = "&$(var.ProductName) $(var.SimpleProductVersion) ($(sys.BUILDARCH))"?>
    <?define UpgradeCodePreview = "f1fb7011-04ff-4158-bf13-a1c863facb25"?>
    <?define UpgradeCodeRelease = "f1fb7011-04ff-4158-bf13-a1c863facb25"?>
    <?if $(var.IsPreview)=True?>
      <?define UpgradeCode = $(var.UpgradeCodePreview)?>
    <?else?>
      <?define UpgradeCode = $(var.UpgradeCodeRelease)?>
    <?endif?>
  <?endif?>
  <!-- Explorer context submenu entries. The ampersand denotes the keyboard shortcut. -->
  <?define ExplorerContextSubMenuDialogText = "Open &here"?>
  <?define ExplorerContextSubMenuElevatedDialogText = "Open here as &Administrator"?>
  <!-- ps1 context submenu entries. -->
  <?define PowerShellFileContextSubMenuDialogText = "Run with $(var.ProductName) $(var.SimpleProductVersion)"?>
  <!-- Registry location to save installer properties. -->
  <?if $(var.IsPreview)=True?>
    <?define InstallerPropertiesKey = "Software\Devolutions\PowerShell\PreviewInstallerProperties\$(sys.BUILDARCH)"?>
  <?else?>
    <?define InstallerPropertiesKey = "Software\Devolutions\PowerShell\InstallerProperties\$(sys.BUILDARCH)"?>
  <?endif?>
  <Package Name="$(var.ProductName) $(var.SimpleProductVersion)-$(sys.BUILDARCH)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="Devolutions" UpgradeCode="$(var.UpgradeCode)">
    <!-- Properties About The Package -->
    <SummaryInformation Keywords="Installer" Description="Devolutions PowerShell package" />
    <!-- Add PowerShell icon for executable -->
    <Icon Id="PowerShellExe.ico" SourceFile="$(var.IconPath)" />
    <!-- Add PowerShell icon in Add/Remove Programs -->
    <Property Id="ARPPRODUCTICON" Value="PowerShellExe.ico" />
    <!-- Set properties for add/remove programs -->
    <Property Id="ARPHELPLINK" Value="$(var.InfoURL)" />
    <!-- custom images -->
    <WixVariable Id="WixUIBannerBmp" Value="assets\wix\WixUIBannerBmp.png" />
    <WixVariable Id="WixUIDialogBmp" Value="assets\wix\WixUIDialogBmp.png" />
    <WixVariable Id="WixUIExclamationIco" Value="assets\wix\WixUIInfoIco.png" />
    <WixVariable Id="WixUIInfoIco" Value="assets\ps_black_32x32.ico" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Open $(var.ProductName)" />
    <!-- Default value of Checkbox of starting PowerShell after installation -->
    <CustomAction Id="SetWixShellExecTarget" Property="WixShellExecTarget" Value="[VersionFolder]pwsh.exe" />
    <CustomAction Id="LaunchApplication" DllEntry="WixShellExec" Impersonate="yes" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" />

    <!-- Property Initialization -->

    <!--
    Each property below will undergo the following steps in the
    initial sequence (`InstallUISequence` if the UI is shown
    or `InstallExecuteSequence` if the UI is skipped):

      1. Load the value that was used in the previous installation into a separate property.

      2. `..._SetFromSaved`: If the property does not have a value (meaning it
         was not specified on the command line) and there is a value from the
         previous installation, use the value from the previous installation.

      3. `..._SetDefault`: If the property does not have a value (meaning it was not specified
         on the command line _and_ there wasn't a value from a previous installation), and
         the property has a default value, then set the property to the default value.

      4. `..._DeleteIfOff`: For "boolean" properties, if the property value is not `1`, then delete
         the property. This needs to be done so that the checkbox in the UI is not initially checked.
         If the property exists, the checkbox will be initially checked regardless of the property value.

    Then in the `InstallExecuteSequence`:

      1. `..._SetToOffIfMissing`: For boolean properties, if the property does not exist, it is set
         to `0`. This ensures that the property value that is saved to the registry is not blank.
         If blank values are saved to the registry, then the `..._SetFromSaved` step won't run because
         a blank property value is indistinguishable from a property value that does not exist.

    When using "boolean" properties, always check if the property value is equal `1`, instead
    of just checking if the property exists. For example, use `FOO=1` instead of just `FOO`.
    -->

    <!-- Property: INSTALLFOLDER -->
    <Property Id="PREVIOUS_INSTALLFOLDER">
      <RegistrySearch Id="GetSavedInstallFolder" Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="InstallFolder" Type="raw" />
    </Property>
    <SetProperty Id="INSTALLFOLDER" Action="InstallFolder_SetFromSaved" After="AppSearch" Value="[PREVIOUS_INSTALLFOLDER]" Sequence="first" Condition="not INSTALLFOLDER and PREVIOUS_INSTALLFOLDER" />

    <!-- Property: ADD_PATH -->
    <Property Id="PREVIOUS_ADD_PATH">
      <RegistrySearch Id="GetSavedAddToPath" Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="AddToPath" Type="raw" />
    </Property>
    <SetProperty Id="ADD_PATH" Action="AddToPath_SetFromSaved" After="AppSearch" Value="[PREVIOUS_ADD_PATH]" Sequence="first" Condition="not ADD_PATH and PREVIOUS_ADD_PATH" />
    <SetProperty Id="ADD_PATH" Action="AddToPath_SetDefault" After="AddToPath_SetFromSaved" Value="0" Sequence="first" Condition="not ADD_PATH" />
    <SetProperty Id="ADD_PATH" Action="AddToPath_DeleteIfOff" After="AddToPath_SetDefault" Value="{}" Sequence="first" Condition="ADD_PATH&lt;&gt;1" />
    <SetProperty Id="ADD_PATH" Action="AddToPath_SetToOffIfMissing" Before="InstallInitialize" Value="0" Sequence="execute" Condition="not ADD_PATH" />

    <!-- Property: REGISTER_MANIFEST -->
    <Property Id="PREVIOUS_REGISTER_MANIFEST">
      <RegistrySearch Id="GetSavedRegisterManifest" Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="RegisterManifest" Type="raw" />
    </Property>
    <SetProperty Id="REGISTER_MANIFEST" Action="RegisterManifest_SetFromSaved" After="AppSearch" Value="[PREVIOUS_REGISTER_MANIFEST]" Sequence="first" Condition="not REGISTER_MANIFEST and PREVIOUS_REGISTER_MANIFEST" />
    <SetProperty Id="REGISTER_MANIFEST" Action="RegisterManifest_SetDefault" After="RegisterManifest_SetFromSaved" Value="0" Sequence="first" Condition="not REGISTER_MANIFEST" />
    <SetProperty Id="REGISTER_MANIFEST" Action="RegisterManifest_DeleteIfOff" After="RegisterManifest_SetDefault" Value="{}" Sequence="first" Condition="REGISTER_MANIFEST&lt;&gt;1" />
    <SetProperty Id="REGISTER_MANIFEST" Action="RegisterManifest_SetToOffIfMissing" Before="InstallInitialize" Value="0" Sequence="execute" Condition="not REGISTER_MANIFEST" />

    <!-- Property: ENABLE_PSREMOTING -->
    <Property Id="PREVIOUS_ENABLE_PSREMOTING">
      <RegistrySearch Id="GetSavedEnablePsRemoting" Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="EnablePsRemoting" Type="raw" />
    </Property>
    <SetProperty Id="ENABLE_PSREMOTING" Action="EnablePsRemoting_SetFromSaved" After="AppSearch" Value="[PREVIOUS_ENABLE_PSREMOTING]" Sequence="first" Condition="not ENABLE_PSREMOTING and PREVIOUS_ENABLE_PSREMOTING" />
    <SetProperty Id="ENABLE_PSREMOTING" Action="EnablePsRemoting_DeleteIfOff" After="EnablePsRemoting_SetFromSaved" Value="{}" Sequence="first" Condition="ENABLE_PSREMOTING&lt;&gt;1" />
    <SetProperty Id="ENABLE_PSREMOTING" Action="EnablePsRemoting_SetToOffIfMissing" Before="InstallInitialize" Value="0" Sequence="execute" Condition="not ENABLE_PSREMOTING" />

    <!-- Property: ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL -->
    <Property Id="PREVIOUS_ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL">
      <RegistrySearch Id="GetSavedAddExplorerContextMenuOpenPowerShell" Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="AddExplorerContextMenuOpenPowerShell" Type="raw" />
    </Property>
    <SetProperty Id="ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL" Action="AddExplorerContextMenuOpenPowerShell_SetFromSaved" After="AppSearch" Value="[PREVIOUS_ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL]" Sequence="first" Condition="not ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL and PREVIOUS_ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL" />
    <SetProperty Id="ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL" Action="AddExplorerContextMenuOpenPowerShell_DeleteIfOff" After="AddExplorerContextMenuOpenPowerShell_SetFromSaved" Value="{}" Sequence="first" Condition="ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL&lt;&gt;1" />
    <SetProperty Id="ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL" Action="AddExplorerContextMenuOpenPowerShell_SetToOffIfMissing" Before="InstallInitialize" Value="0" Sequence="execute" Condition="not ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL" />

    <!-- Property: ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL -->
    <Property Id="PREVIOUS_ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL">
      <RegistrySearch Id="GetSavedAddFileContextMenuRunPowerShell" Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="AddFileContextMenuRunPowerShell" Type="raw" />
    </Property>
    <SetProperty Id="ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL" Action="AddFileContextMenuRunPowerShell_SetFromSaved" After="AppSearch" Value="[PREVIOUS_ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL]" Sequence="first" Condition="not ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL and PREVIOUS_ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL" />
    <SetProperty Id="ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL" Action="AddFileContextMenuRunPowerShell_DeleteIfOff" After="AddFileContextMenuRunPowerShell_SetFromSaved" Value="{}" Sequence="first" Condition="ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL&lt;&gt;1" />
    <SetProperty Id="ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL" Action="AddFileContextMenuRunPowerShell_SetToOffIfMissing" Before="InstallInitialize" Value="0" Sequence="execute" Condition="not ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL" />

    <!-- End Property Initialization -->

    <SetProperty Id="RegisterManifest" Before="RegisterManifest" Sequence="execute" Value="&quot;[VersionFolder]pwsh.exe&quot; -NoProfile -ExecutionPolicy Bypass -File &quot;[VersionFolder]RegisterManifest.ps1&quot;" />
    <CustomAction Id="RegisterManifest" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" />
    <SetProperty Id="EnablePSRemoting" Before="EnablePSRemoting" Sequence="execute" Value="&quot;[VersionFolder]pwsh.exe&quot; -NoProfile -ExecutionPolicy Bypass -Command &quot;Enable-PSRemoting&quot;" />
    <CustomAction Id="EnablePSRemoting" DllEntry="WixQuietExec" Execute="deferred" Return="ignore" Impersonate="no" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" />
    <InstallExecuteSequence>
      <!-- Do not remove shortcuts on upgrade to preserve user shortcuts pinned to Taskbar, see https://stackoverflow.com/a/33402698/1810304 -->
      <RemoveShortcuts Condition="Installed AND NOT UPGRADINGPRODUCTCODE" />
      <Custom Action="RegisterManifest" After="InstallFiles" Condition="NOT Installed AND (REGISTER_MANIFEST=1)" />
      <Custom Action="EnablePSRemoting" After="InstallFiles" Condition="NOT Installed AND (ENABLE_PSREMOTING=1)" />
    </InstallExecuteSequence>
    <UI>
      <Dialog Id="MyExitDialog" Width="370" Height="270" Title="!(loc.ExitDialog_Title)">
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="yes" Text="!(loc.ExitDialogBitmap)" />
        <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Bigger}!(loc.Error1707)" TabSkip="yes" />
        <Control Id="Description" Type="Text" X="135" Y="70" Width="220" Height="20" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogDescription)" TabSkip="yes" />
        <!-- divider between check boxes and button row -->
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" TabSkip="yes" />
        <!-- Button row -->
        <!-- Checkbox to allow starting PowerShell after the installation (in UI mode only) -->
        <Control Id="LaunchCheckBox" Type="CheckBox" X="10" Y="243" Width="170" Height="17" Property="LAUNCHAPPONEXIT" Hidden="yes" CheckBoxValue="1" Text="Launch $(var.ProductName)" ShowCondition="NOT Installed" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
        <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="!(loc.WixUIFinish)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUICancel)" />
      </Dialog>
      <InstallUISequence>
          <Show Dialog="MyExitDialog" OnExit="success" />
      </InstallUISequence>
      <AdminUISequence>
          <Show Dialog="MyExitDialog" OnExit="success" />
      </AdminUISequence>
      <Publish Dialog="MyExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999" />
    </UI>
    <UI>
      <Publish Dialog="MyExitDialog" Control="Finish" Order="1" Event="DoAction" Value="SetWixShellExecTarget" Condition="LAUNCHAPPONEXIT=1" />
      <Publish Dialog="MyExitDialog" Control="Finish" Order="2" Event="DoAction" Value="LaunchApplication" Condition="LAUNCHAPPONEXIT=1" />
    </UI>
    <!-- Prerequisites -->
    <Launch Condition="Installed OR MsiNTProductType &lt;&gt; 1 OR VersionNT &gt;= 603" Message="Supported only on Windows 8.1 and above" />
    <Launch Condition="Installed OR MsiNTProductType = 1 OR VersionNT &gt;= 602" Message="Supported only on Windows Server 2012 and above" />
    <!-- Information About When Older Versions Are Trying To Be Installed-->
    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
    <!-- Embed Cabinet Files in Product-->
    <MediaTemplate EmbedCab="yes" />
    <!-- In Your Wix Setup Project, Add A Reference To WixUIExtension.dll -->
    <UIRef Id="CustomWixUI_InstallDir" />
    <!-- Features are mandatory.  Need At Least One. -->
    <Feature Id="ProductFeature" Title="PowerShell" Level="1">
      <ComponentGroupRef Id="ApplicationFiles" />
      <ComponentRef Id="ApplicationProgramsMenuShortcut" />
      <ComponentRef Id="RegistryEntries" />
      <ComponentRef Id="SetPath" />
      <ComponentRef Id="ExplorerContextMenu" />
      <ComponentRef Id="PowerShellFileContextMenu" />
      <ComponentRef Id="SaveInstallerProperties" />
    </Feature>
    <!-- We need to show EULA, and provide option to customize download location -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <!-- Prerequisite check for Windows Universal C runtime -->
    <Property Id="UNIVERSAL_C_RUNTIME_INSTALLED" Secure="yes">
      <DirectorySearch Id="WindowsDirectory" Path="[WindowsFolder]">
        <DirectorySearch Id="System32" Path="System32">
          <FileSearch Id="ucrtbase" Name="ucrtbase.dll" />
        </DirectorySearch>
      </DirectorySearch>
    </Property>
    <Launch Condition="Installed OR UNIVERSAL_C_RUNTIME_INSTALLED" Message="$(var.ProductName) requires the Universal C Runtime to be installed to enable remoting over WinRM. You can find a download link to it here: https://aka.ms/pscore6-prereq" />
    <!-- Prerequisite check for Windows Management Framework -->
    <Property Id="PWRSHPLUGIN_VERSION" Secure="yes">
      <DirectorySearchRef Id="System32" Parent="WindowsDirectory" Path="System32">
        <FileSearch Id="pwrshplugin" Name="pwrshplugin.dll" MinVersion="6.3.9600.16383" />
      </DirectorySearchRef>
    </Property>
    <Launch Condition="Installed OR PWRSHPLUGIN_VERSION" Message="$(var.ProductName) requires the Windows Management Framework 4.0 or newer to be installed to enable remoting over WinRM. You can find download links here: https://aka.ms/pscore6-prereq" />
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Devolutions">
        <Directory Id="PowerShellFolder" Name="PowerShell">
          <Directory Id="VersionFolder" Name="$(var.SimpleProductVersion)-$(sys.BUILDARCH)">
            <Component Id="RegistryEntries">
              <!-- create key for easy detection of a particular version of a powershell core package
                    The upgrade code is used in the key because it will change when we allow SxS       -->
              <RegistryKey Root="HKLM" Key="Software\Devolutions\PowerShell\InstalledVersions\$(var.UpgradeCode)" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes">
                  <RegistryValue Type="string" Value="$(var.ProductSemanticVersion)" Name="SemanticVersion" KeyPath="yes" />
                  <RegistryValue Type="string" Value="[VersionFolder]" Name="InstallLocation" />
                  <RegistryValue Type="string" Value="[ProductCode]" Name="ProductCode" />
              </RegistryKey>

            </Component>
            <!-- add ourselves to %PATH% so pwsh.exe can be started from Windows PowerShell or cmd.exe -->
            <Component Id="SetPath" Condition="ADD_PATH=1">
              <Environment Id="PATH" Action="set" Name="PATH" Part="last" Permanent="no" System="yes" Value="$(var.PwshPath)" />
              <!-- Can't use a shared component GUID here either since the path we add to PATH varies on the actual directory path. Use a key that represents this same path. -->
              <RegistryKey Root="HKLM" Key="Software\Devolutions\PowerShell\InstalledVersions\$(var.UpgradeCode)">
                <RegistryValue Type="string" Name="InstallDir" Value="[VersionFolder]" KeyPath="yes" />
              </RegistryKey>
            </Component>
            <!-- Explorer context menu with 2 submenus to open PowerShell normally or as an Administrator.
                 See https://blogs.msdn.microsoft.com/andrew_richards/2017/03/01/enhancing-the-open-command-prompt-here-shift-right-click-context-menu-experience/ for details -->
            <Component Id="ExplorerContextMenu" Condition="ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL=1">
              <!-- When clicking on background in Explorer -->
              <RegistryKey Root="HKCR" Key="Directory\Background\shell\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)">
                <RegistryValue Type="string" Name="MUIVerb" Value="$(var.ExplorerContextMenuDialogText)" />
                <RegistryValue Type="string" Name="Icon" Value="[VersionFolder]pwsh.exe" />
                <RegistryValue Type="string" Name="ExtendedSubCommandsKey" Value="Directory\ContextMenus\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)" KeyPath="yes" />
              </RegistryKey>
              <!-- When clicking on Drive in Explorer -->
              <RegistryKey Root="HKCR" Key="Drive\shell\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)">
                <RegistryValue Type="string" Name="MUIVerb" Value="$(var.ExplorerContextMenuDialogText)" />
                <RegistryValue Type="string" Name="Icon" Value="[VersionFolder]pwsh.exe" />
                <RegistryValue Type="string" Name="ExtendedSubCommandsKey" Value="Directory\ContextMenus\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)" />
              </RegistryKey>
              <!-- When clicking on Desktop background in Explorer -->
              <RegistryKey Root="HKCR" Key="DesktopBackground\shell\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)">
                <RegistryValue Type="string" Name="MUIVerb" Value="$(var.ExplorerContextMenuDialogText)" />
                <RegistryValue Type="string" Name="Icon" Value="[VersionFolder]pwsh.exe" />
                <RegistryValue Type="string" Name="ExtendedSubCommandsKey" Value="Directory\ContextMenus\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)" />
              </RegistryKey>
              <!-- When clicking on folder in Explorer -->
              <RegistryKey Root="HKCR" Key="Directory\shell\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)">
                <RegistryValue Type="string" Name="MUIVerb" Value="$(var.ExplorerContextMenuDialogText)" />
                <RegistryValue Type="string" Name="Icon" Value="[VersionFolder]pwsh.exe" />
                <RegistryValue Type="string" Name="ExtendedSubCommandsKey" Value="Directory\ContextMenus\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)" />
              </RegistryKey>
              <!-- When being in a Library folder in Explorer -->
              <RegistryKey Root="HKCR" Key="LibraryFolder\background\shell\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)">
                <RegistryValue Type="string" Name="MUIVerb" Value="$(var.ExplorerContextMenuDialogText)" />
                <RegistryValue Type="string" Name="Icon" Value="[VersionFolder]pwsh.exe" />
                <RegistryValue Type="string" Name="ExtendedSubCommandsKey" Value="Directory\ContextMenus\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)" />
              </RegistryKey>
              <!-- Sub menus to open PowerShell at the current location either as a normal shell or as Administrator -->
              <RegistryKey Root="HKCR" Key="Directory\ContextMenus\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)\shell\openpwsh">
                <RegistryValue Type="string" Name="MUIVerb" Value="$(var.ExplorerContextSubMenuDialogText)" />
                <RegistryValue Type="string" Name="Icon" Value="[VersionFolder]pwsh.exe" />
              </RegistryKey>
              <RegistryKey Root="HKCR" Key="Directory\ContextMenus\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)\shell\openpwsh\command">
                <RegistryValue Type="string" Value="[VersionFolder]pwsh.exe -NoExit -RemoveWorkingDirectoryTrailingCharacter -WorkingDirectory &quot;%V!&quot; -Command &quot;$host.UI.RawUI.WindowTitle = '$(var.ProductName) $(var.SimpleProductVersion) ($(sys.BUILDARCH))'&quot;" />
              </RegistryKey>
              <RegistryKey Root="HKCR" Key="Directory\ContextMenus\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)\shell\runas">
                <RegistryValue Type="string" Name="MUIVerb" Value="$(var.ExplorerContextSubMenuElevatedDialogText)" />
                <RegistryValue Type="string" Name="Icon" Value="[VersionFolder]pwsh.exe" />
                <RegistryValue Type="string" Value="" Name="HasLUAShield" />
              </RegistryKey>
              <RegistryKey Root="HKCR" Key="Directory\ContextMenus\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)\shell\runas\command">
                <RegistryValue Type="string" Value="[VersionFolder]pwsh.exe -NoExit -RemoveWorkingDirectoryTrailingCharacter -WorkingDirectory &quot;%V!&quot; -Command &quot;$host.UI.RawUI.WindowTitle = '$(var.ProductName) $(var.SimpleProductVersion) ($(sys.BUILDARCH))'&quot;" />
              </RegistryKey>
              <RemoveRegistryKey Id="RemoveOldOpenKey" Root="HKCR" Key="Directory\ContextMenus\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)\shell\open" Action="removeOnInstall" />
            </Component>
            <Component Id="PowerShellFileContextMenu" Condition="ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL=1">
              <!-- When right-clicking ps1 file -->
              <RegistryKey Root="HKCR" Key="Microsoft.PowerShellScript.1\Shell\$(var.ProductName)$(var.SimpleProductVersion)$(sys.BUILDARCH)">
                <RegistryValue Type="string" Name="MUIVerb" Value="$(var.PowerShellFileContextSubMenuDialogText)" />
                <RegistryValue Type="string" Name="Icon" Value="[VersionFolder]pwsh.exe" KeyPath="yes" />
                <RegistryKey Key="Command">
                  <RegistryValue Type="string" Value="[VersionFolder]pwsh.exe -Command &quot;$host.UI.RawUI.WindowTitle = '$(var.ProductName) $(var.SimpleProductVersion) ($(sys.BUILDARCH))'; &amp; '%1'&quot;" />
                </RegistryKey>
              </RegistryKey>
            </Component>
            <Component Id="SaveInstallerProperties" Permanent="yes">
              <RegistryValue Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="InstallFolder" Value="[INSTALLFOLDER]" Type="string" />
              <RegistryValue Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="AddToPath" Value="[ADD_PATH]" Type="string" />
              <RegistryValue Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="RegisterManifest" Value="[REGISTER_MANIFEST]" Type="string" />
              <RegistryValue Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="EnablePSRemoting" Value="[ENABLE_PSREMOTING]" Type="string" />
              <RegistryValue Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="AddExplorerContextMenuOpenPowerShell" Value="[ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL]" Type="string" />
              <RegistryValue Root="HKLM" Key="$(var.InstallerPropertiesKey)" Name="AddFileContextMenuRunPowerShell" Value="[ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL]" Type="string" />
            </Component>
          </Directory>
          </Directory>
        </Directory>
      </StandardDirectory>
      <StandardDirectory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)">
          <Component Id="ApplicationProgramsMenuShortcut">
            <Shortcut Id="PowerShell_ProgramsMenuShortcut" Name="$(var.ProductSimpleVersionWithNameAndOptionalArchitecture)" Description="$(var.ProductSimpleVersionWithNameAndOptionalArchitecture)" Target="[VersionFolder]pwsh.exe" Arguments="-WorkingDirectory ~" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\Devolutions\PowerShell\ProgramsMenuShortcut\$(var.SimpleProductVersion)\$(sys.BUILDARCH)" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </StandardDirectory>
    </Package>

<!-- Explorer Context Menu Dialog -->
<Fragment>
 <UI>
    <Dialog Id="ExplorerContextMenuDialog" Width="370" Height="270" Title="!(loc.ExitDialog_Title)">
      <!-- Banner -->
      <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="yes" Text="!(loc.InstallDirDlgBannerBitmap)" />
      <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Optional Actions" TabSkip="yes" />
      <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Initialization and Customization" TabSkip="yes" />
      <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" TabSkip="yes" />
      <!-- If the checkboxes are defined first, then they are first in the tab order and can be ticked and unticked using the spacebar -->
      <Control Id="AddToPathCheckBox" Type="CheckBox" X="20" Y="60" Width="290" Height="17" Property="ADD_PATH" CheckBoxValue="1" Text="Add $(var.ProductName) to Path Environment Variable" />
      <Control Id="RegisterManifestCheckBox" Type="CheckBox" X="20" Y="80" Width="290" Height="17" Property="REGISTER_MANIFEST" CheckBoxValue="1" Text="Register Windows Event Logging Manifest" />
      <Control Id="EnablePSRemotingCheckBox" Type="CheckBox" X="20" Y="100" Width="290" Height="17" Property="ENABLE_PSREMOTING" CheckBoxValue="1" Text="Enable $(var.ProductName) remoting" />
      <Control Id="ContextMenuOpenPowerShell" Type="CheckBox" X="20" Y="140" Width="290" Height="17" Property="ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL" CheckBoxValue="1" Text="Add '$(var.ExplorerContextSubMenuDialogText)' context menus to Explorer" />
      <Control Id="ContextMenuRunPowerShell" Type="CheckBox" X="20" Y="160" Width="290" Height="17" Property="ADD_FILE_CONTEXT_MENU_RUNPOWERSHELL" CheckBoxValue="1" Text="Add '$(var.PowerShellFileContextSubMenuDialogText)' context menu for PowerShell files" />
      <Control Id="LicenseLink" Type="Hyperlink" X="20" Y="190" Width="214" Height="17">
        <Text Value="&lt;a href=&quot;https://github.com/PowerShell/PowerShell/blob/master/LICENSE.txt&quot;&gt;The application is distributed under the MIT license.&lt;/a&gt;" />
      </Control>
      <Control Id="TpnLink" Type="Hyperlink" X="20" Y="210" Width="290" Height="17">
        <Text Value="&lt;a href=&quot;https://github.com/PowerShell/PowerShell/blob/master/ThirdPartyNotices.txt&quot;&gt;Please review the ThirdPartyNotices.txt&lt;/a&gt;" />
      </Control>
      <!-- divider and bottom buttons -->
      <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" TabSkip="yes" />
      <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
      <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Cancel="yes" Default="yes" Text="!(loc.WixUINext)" />
      <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
        <Publish Event="SpawnDialog" Value="CancelDlg" />
      </Control>
    </Dialog>
  </UI>
</Fragment>

<!-- Customized version of WixUI_InstallDir, which is necessary to add custom dialogs. https://github.com/wixtoolset/wix3/blob/master/src/ext/UIExtension/wixlib/WixUI_InstallDir.wxs -->
<Fragment>
  <UI Id="CustomWixUI_InstallDir">
      <!--
      First-time install dialog sequence:
      - WixUI_WelcomeDlg
      - WixUI_InstallDirDlg
      - ExplorerContextMenuDialog
      - WixUI_VerifyReadyDlg
      - WixUI_DiskCostDlg
      Maintenance dialog sequence:
      - WixUI_MaintenanceWelcomeDlg
      - WixUI_MaintenanceTypeDlg
      - WixUI_InstallDirDlg
      - WixUI_VerifyReadyDlg
      Patch dialog sequence:
      - WixUI_WelcomeDlg
      - WixUI_VerifyReadyDlg
      -->

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="ExplorerContextMenuDialog" />


      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="3" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4" Condition="NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Condition="NOT Installed" />
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Condition="Installed AND PATCH" />

      <Publish Dialog="ExplorerContextMenuDialog" Control="Back" Event="NewDialog" Value="InstallDirDlg" />
      <Publish Dialog="ExplorerContextMenuDialog" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" />

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath_$(sys.BUILDARCHSHORT)" Order="2" Condition="NOT WIXUI_DONTVALIDATEPATH" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3" Condition="NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID&lt;&gt;&quot;1&quot;" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4" Condition="WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID=&quot;1&quot;" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="ExplorerContextMenuDialog" Order="5" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1" />
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2" />

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="ExplorerContextMenuDialog" Order="1" Condition="NOT Installed" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2" Condition="Installed AND NOT PATCH" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2" Condition="Installed AND PATCH" />

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg" />

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg" />
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg" />

      <Property Id="ARPNOMODIFY" Value="1" />
    </UI>
    <UIRef Id="WixUI_Common" />
  </Fragment>

</Wix>
